@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "partials/variables";
@import "partials/mixins";

@include default_settings;

body{
    scroll-behavior: smooth;
    @include default_font_settings;
    background: $background-color;
    color: $primary-color;
}

//====================================================
//====================== OTHER =======================
//====================================================

.all-posts-alert{
    .alert-text{
        @include flex($justify-content: center, $align-items: center);
    }
    .alert-button{
        margin: 0 0 0 20px;
        i{
            color: $primary-color;
            font-size: 2rem;
            transition: all .5s;
            &:hover{
                color: $secondary-color;
            }
        }
    }
}
.back-button{
    @include back-button;
}

.posts-selector{
    @include flex($justify-content: center);
    padding: 20px;
    width: 100%;
    margin-top: $navigation-height;

    &-filter{
        margin-right: 10px;
        &-select{
            @include post-selector-item;
        }
    }
    &-search{
        $c: &;
        @include flex;
        font-size: 0;
        &-container{
            position: relative;

            #{$c}-input{
                @include border(1px solid grey);
                @include post-selector-item;
                width: 500px;
            }
            #{$c}-results{
                $item-height: 50px;
                width: 100%;
                max-height: $item-height * 4;
                background-color: darken($color: $background-color, $amount: 3);

                position: absolute;
                overflow: auto;
                font-size: 1rem;
                z-index: 5;

                &-list{
                    list-style: none;
                    &-item{
                        @include flex($align-items: center);
                        height: 50px;
                        width: 100%;
                        padding: 0 20px;
                        &:hover{
                            background: darken($color: $background-color, $amount: 2);
                        }
                    }
                }
            }
        }
        &-select{
            @include post-selector-item;
        }
    }
}

//====================================================
//====================NAVIGATION======================
//====================================================
.navigation{
    height: $navigation-height;
    background: darken($color: $background-color, $amount: $navigation-darken-amount);

    position: fixed;
    top: 0;
    min-width: 350px;
    width: 100%;
    z-index: 10;
    font-size: 0;
    text-align: right;
    
    > li{
        @include flex(inline-flex, center, center);
        font-size: $navigation-font-size;
        padding-inline: $navigation-link-inline-padding;
        height: $navigation-height;
        vertical-align: top;
        
        a{
            @include navigation_links;
            &.basic-button{
                padding: 10px;
            }
            
            &.fancy-button{
                @include fancy-button;
            }
        }

        .icon{
            @include icon-preset;
        }

        &.logo{
            float: left;
        }

        &.profile{
            font-size: .8rem !important;
            cursor: pointer;
            
            span{
                @include flex(flex, center, center);
            }
        }
        
        .addpost-button{
            @include border(2px solid, 50px);
            @include flex(flex, center, left);
            width: 40px;
            height: 40px;
            padding-right: 15px;
            white-space: nowrap;
            overflow: hidden;
            transition: width .5s;

            .plus{
                padding-inline: 9.5px;
                padding-bottom: 1px;
            }
            
            &:hover{
                width: 110px;
            }
        }

        .user-options{
            display: block;
            
            position: absolute;
            top: 100%;
            right: -$user-options-width;
            
            background: darken($color: $background-color, $amount: $navigation-darken-amount);
            width: $user-options-width;
            margin-top: 2px;
            text-align: left;
            opacity: 0;
            transition: all 500ms;
            
            &.user-options-show{
                right: 0;
                opacity: 1;
            }

            .user-options-item{
                @include flex($flex-direction:column);
                font-size: .8rem;
                .user-options-content{
                    width: 100%;
                    color: $navigation-link-color;
                    padding-block: $user-options-spacing;
                    padding-left: 15px;
                    transition: all .5s;
                    
                    .options-icon{
                        margin-right: 15px;
                    }
                    &:hover{
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}
.border-left{
    @include border($navigation-border, $side: left);
}

//====================================================
//===================SETTINGS PAGE====================
//====================================================

.settings-container{
    margin: 0 auto;
    width: $settings-container-width;
    
    section{
        @include flex($align-items: none, $justify-content: left, $flex-direction: row);
        @include border($form-border, $side: bottom);
        padding-block: $settings-form-spacing;
        width: 100%;
        
        &:first-of-type{
            margin-top: $settings-form-margin
        }
        
        &:last-child{
            margin-bottom: $settings-form-margin
        }
        
        > div{
            max-width: 700px;
            min-width: 360px;
            width: 100%;
            height: 100%;
            padding-inline: 20px;
            
            &.section-headline{
                width: 400px;
                margin-right: 50px;
                h3{
                    color: white;
                    margin-bottom: 10px;
                }
                p{
                    color: rgb(177, 177, 177);
                    font-weight: 400;
                }
            }
            
            &.section-content{
                padding: 50px 40px;
                background: darken($color: $background-color, $amount: 3);
                @include border($form-border, 0px, all);
            }
            
            .form-item{
                .form-item-label{
                    @include form-label-preset(.8rem);
                }
                
                input[type="text"],
                input[type="email"],
                input[type="password"]{
                    @include form-input-preset;
                }
                
                .error-container{
                    @include flex($align-items: center);
                    margin-right: 20px;
                    .error{
                        color: rgb(211, 84, 84);
                    }
                    .success{
                        color: rgb(76, 177, 67);
                    }
                }

                &.submit{
                    @include flex($align-items: center, $justify-content: right);
                    
                    input[type="submit"]{
                        @include form-button-preset(10px 30px);
                    }
                }
                 
                &.icon_upload{
                    @include flex($justify-content: left, $align-items: top);
                }
                
                &:not(:last-child){
                    margin-bottom: 50px;
                }
                
                .icon{
                    @include icon-preset(60px);
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .settings-container{
        margin: 0 auto;
        @include flex($align-items: center, $justify-content: center, $flex-direction: column);
        width: 90%;
        h1{
            margin-top: $settings-form-margin;
        }
        section{
            @include flex($align-items: center, $justify-content: center, $flex-direction: column);
            
            &:first-of-type{
                margin-top: 0;
            }
            
            > div{
                margin-top: $settings-form-margin;
                &.section-headline{
                    width: 90%;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
//====================================================
//====================ADMIN PAGE======================
//====================================================
.admin-page{
    .admin-nav{
        height: 100vh;
        overflow: hidden;
        width: $admin-navigation-width;
        position: fixed;
        .admin-nav-ul{
            width: 100%;
            height: 100%;
            background: darken($color: $background-color, $amount: $navigation-darken-amount);
            li{
                @include flex($flex-direction:column);
                height: 50px;
                a{
                    @include flex($align-items: center, $justify-content: left);
                    @include navigation_links;
                    height: 200px;
                    width: 200px;
                    cursor: pointer;
                    padding-left: 10px;
                    i{
                        font-size: 1.2rem;
                        padding-right: 20px;
                    }
                    
                    &.header{
                        i{
                            padding-left: 5px;
                        }
                    }
                    &.active{
                        background-color: lighten($color: $background-color, $amount: 4);
                    }
                }
            }
        }
    }
    main{
        .content-container{
            width: calc(100vw - 200px);
            margin-left: $admin-navigation-width - ($admin-content-padding / 2);
            padding: $admin-content-padding;
            
            .admin-inputs{
                @include flex($align-items: start, $justify-content: flex-start);
                input[type="text"]{
                    width: 500px;
                    height: 40px;
                    padding-left: 10px;
                    margin-bottom: 10px;
                }
                select{
                    height: 40px;
                }
            }
            
            .data-wrapper{
                height: 800px;
                overflow: auto;
                padding: 20px;
                @include border($admin-border);
                .data-table{
                    width: 100%;
                    
                    
                    @include border(1px solid grey);
                    border-collapse: collapse;
                    tr{
                        th{
                            padding-block: 10px;
                            background-color: darken($color: $background-color, $amount: 3)
                        }
                        td, th{
                            @include border(1px solid grey);
                            text-overflow: ellipsis;
                            overflow: hidden;
                            max-width: 100px;
                        }
                        td{
                            input{
                                width: 100%;
                                padding: 10px;
                                background: $background-color;
                                color: white;
                                @include border(none);
                            }
                        }
                        .buttons{
                            text-align: center;
                            button{
                                color: white;
                                @include border(none);
                                padding: 5px 10px;
                                cursor: pointer;
                            
                                &.delete-button{
                                    background: rgb(141, 6, 6);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//====================================================
//===========LOGIN - REGISTRATION - ADDPOST===========
//====================================================
.form-wrapper{
    @include flex($justify-content: center, $align-items: center, $flex-direction: column);
    height: calc(100vh - #{$navigation-height});
    margin-top: $navigation-height;
    
    .account-form{
        @include flex($justify-content: center, $flex-direction: column);
        @include border($form-border, $radius: 5px);
        background: darken($color: $background-color, $amount: 3);
        height: 70%;
        width: 100%;
        max-width: 400px;
        padding: 30px 50px;
        margin: 20px;


        &.addpost{
            @include flex($justify-content: flex-start, $flex-direction: column, $align-items: flex-start);
            max-width: unset;
            width: auto;
            height: auto;
            padding-block: 100px;
            .post-image, .post-info{
                padding: 10px;
            }
            .form-content{
                @include flex($justify-content: flex-start, $align-items: flex-start);
                .post-image{
                    width: 600px;
                    flex-shrink: 0;
                }
                .post-info{
                    width: 500px;
                    margin-top: 20px;
                    #comment{
                        width: 100%;
                        max-width: 100%;
                        height: 150px;
                        max-height: 150px;
                        resize: none;
                        margin: 0;
                    }
                    .char-counter{
                        margin-top: 10px;
                        @include flex($justify-content: flex-end);
                        font-size: .7rem;
                        width: 100%;
                    }
                }
            }
            
            
            .submit-container{
                input[type="submit"]{
                   margin-left: 10px !important;
                }
            }
        }
        p{
            @include flex($align-items: center, $justify-content: center);
            &.error{
                font-size: .8rem;
                margin-bottom: 20px;
                padding: 10px;
            }
            i{
                font-size: 20px;
                color: red;
                margin-right: 10px;
            }
        }
        h2{
            margin-bottom: 30px;
        }
        .form-item{
            @include flex($justify-content: center, $align-items: flex-start, $flex-direction: column);
            label{
                @include form-label-preset(.7rem);
            }
            input[type="text"],
            input[type="email"],
            input[type="password"],
            textarea
            {
                font-family: 'Spartan', sans-serif;
                @include form-input-preset();
                margin-bottom: 40px;
            }
            &.submit-container{
                @include flex($justify-content: center, $align-items: center, $flex-direction: column);
                input[type="submit"]{
                    @include form-button-preset(10px 20px);
                }
            }
            &.links{
                margin-top: 20px;
                font-size: .7rem;
                @include flex($justify-content: center, $align-items: center, $flex-direction: row);
                a{
                    text-decoration: none;
                    color: $secondary-color;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        #imagePreview{
            padding: 0;
            @include flex($align-items: center, $justify-content: center);
            width: 100%;
            height: 300px;
            .image-preview{
                max-height: 100%;
            }
        }
        .image-upload-box{
            @include flex($flex-direction: column, $justify-content: center, $align-items: center);
            @include border(1px dashed);
            padding-inline: 50px;
            i{
                font-size: 30px;
            }
            span{
                margin-top: 10px;
            }
            height: 100%;
            width: 100%;
        }
    }
}

@media (max-width: 1230px) {
    .form-wrapper{
        .account-form{
            height: unset;
            max-height: unset;
            &.addpost{
                .form-content{
                    @include flex($flex-direction: column);
                    .post-info{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 720px){
    .form-wrapper{
        .account-form{
            width: 90vw !important;
            height: 100%;
            h2{
                padding-left: 10px;
            }
            &.addpost{
                padding-inline: 10px;
                .form-content{
                    width: 100%;
                    .post-info{
                        width: 100%;
                    }
                    .post-image{
                        width: 100%;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}