$background-color: #303030;
$navigation-darken-amount: 6;
$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(34, 202, 253);

$navigation-border: 2px solid #494949;
$form-border: 1px solid lighten($background-color, 10);
$admin-border: 1px solid grey;

$default-border: 1px solid lighten($background-color, 10); 

$form-label-color: rgb(228, 228, 228);

$post-darken-amount: 5;