$navigation-height: 60px;
$navigation-link-inline-padding: 20px;
$navigation-icon-size: 40px;
$user-options-spacing: 21px;
$user-options-width: 170px;

$settings-form-spacing: 80px;
$settings-form-margin: 50px;
$settings-container-width: 70%;

$admin-navigation-width: 200px;
$admin-content-padding: 50px;

$item-height: 60px;
$item-count: 3;

$post-normal-size: 70vh;
$post-expanded-size: 80vh;
$post-icon-size: 45px;
$post-padding-block: 200px;