@mixin default_settings{
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    button{
        border: none;
        background: transparent;
        cursor: pointer;
    }
}

@mixin default_font_settings {
    font: {
        family: "Spartan", sans-serif;
        weight: 600;
    }
}

@mixin navigation_links{
    color: $navigation-link-color;
    text-decoration: none;
}

@mixin fancy-button($padding: 5px 40px, $border: 2px solid white){
    padding: $padding;
    @include border($border, 50px);
}

@mixin back-button{
    position: absolute;
    top: 80px;
    a{
        font-size: 2rem;
        margin-left: 40px;
        color: $navigation-link-color;
    }   
}

@mixin icon-preset($size: $navigation-icon-size){
    @include rounded(50%);
    width: $size;
    height: $size;
    margin-right: 10px;
}

@mixin flex($display-flex: flex, $align-items: none, $justify-content: none, $flex-direction: row){
    display: $display-flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

@mixin rounded($radius: 15px){
    border-radius: $radius;
}

@mixin border($border: 1px solid, $radius: 0px, $side: all){
    @if($side == all){
        border: $border;
    }
    @else if($side == left){
        border-left: $border;
    }
    @else if($side == right){
        border-right: $border;     
    }
    @else if($side == bottom){
        border-bottom: $border;
    }
    @else if($side == top){
        border-top: $border;
    }
    @include rounded($radius);
}

@mixin form-label-preset($size){
    color: $form-label-color;
    font-weight: 400;
    font-size: $size;
}

@mixin form-input-preset {
    border: none;
    width: 100%;
    padding: 10px;
    background: $background-color;
    color: white;
    &:focus{
        outline: none;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
    &[data-autocompleted] {
        background-color: transparent !important;
    }
}

@mixin form-button-preset($padding){
    border: none;
    padding: $padding;
    background-color: $background-color;
    color: $primary-color;
    font-family: 'Spartan', sans-serif;
    cursor: pointer;
    &:hover{
        background-color: darken($color: $background-color, $amount: 5);
    }
}

@mixin post-selector-item{
    padding: 8px;
    color: $primary-color;
    background: darken($color: $background-color, $amount: 3);
    height: 40px;
    &:focus{
        outline: none;
    }
}