// === COLORS ===
$background-color: #303030;
$navigation-link-color: #ffffff;
$navigation-darken-amount: 6;
$primary-color: #ffffff;
$secondary-color: rgb(34, 202, 253);

$navigation-border: 2px solid #494949;
$form-border: 1px solid lighten($background-color, 10);
$admin-border: 1px solid grey;

$form-label-color: rgb(228, 228, 228);

// === SIZES ===
$navigation-height: 60px;
$navigation-link-inline-padding: 20px;
$navigation-icon-size: 40px;
$user-options-spacing: 21px;
$user-options-width: 170px;

$settings-form-spacing: 80px;
$settings-form-margin: 50px;
$settings-container-width: 70%;

$admin-navigation-width: 200px;
$admin-content-padding: 50px;

// === FONTS ===
$navigation-font-size: 1rem;