.profile-container{
    width: 100%;
    .profile-data-select{
        width: 100%;
        @include flex($justify-content: center, $align-items: center);
        margin-top:  $navigation-height + 15;
        
        &-item{
            width: 50px;
            height: 50px;
            margin-inline: 25px;
            @include flex($align-items: center, $justify-content: center);
            position: relative;
            cursor: pointer;
            i{
                font-size: 1.5rem;
            }
            &.active{
                @include border(2px solid lighten($background-color, 30), $side: bottom);
                i{
                    color: $secondary-color;
                }
            }
        }
    }
}