.posts-selector{
    @include flex($justify-content: center);
    padding: 20px;
    width: 100%;
    margin-top: $navigation-height;

    &-filter{
        margin-right: 10px;
        &-select{
            @include border($default-border);
            @include post-selector-item;
        }
    }
    &-search{
        $c: &;
        @include flex;
        font-size: 0;
        &-container{
            position: relative;

            #{$c}-input{
                @include border($default-border);
                @include post-selector-item;
                width: 500px;
            }
            #reset-button{
                font-size: 1rem;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
            #{$c}-results{
                width: 100%;
                max-height: $item-height * $item-count;
                background-color: darken($color: $background-color, $amount: 3);

                position: absolute;
                overflow: auto;
                font-size: 1rem;
                z-index: 5;

                @include custom-scrollbar;

                &-list{
                    list-style: none;
                    &-item{
                        @include flex($align-items: center);
                        height: $item-height;
                        width: 100%;
                        padding: 0 20px;
                        cursor: pointer;
                        .icon{
                            @include icon-preset;
                        }
                        &:hover{
                            background: darken($color: $background-color, $amount: 2);
                        }
                    }
                }
            }
        }
        &-select{
            @include border($default-border);
            @include post-selector-item;
        }
    }
}

@media (max-width: 811px) {
    .posts-selector{
        @include flex($justify-content: center, $flex-direction: column);
        width: 100%;   
        &-filter{
            order: 2;
            width: 100%;
            &-select{
                width: 100%;
            }
        }
        &-search{
            $c: &;
            margin-bottom: 15px;
            &-container{
                width: 100%;
    
                #{$c}-input{
                    width: 100%;
                }
                #{$c}-results{
                    width: 100%;
                }
            }
        }
    }
}